@use 'styles/dropdown';
@use 'styles/button';
@use 'styles/landing';
@use 'styles/tier';
@use 'styles/table';
@use 'styles/pager';
@use 'styles/animations';
@use 'styles/notificationBar';
@use 'styles/toggle';

:root {
  --main-bg-color: #282c34;
  --primary-color: #38bac1;
  --accent-color: #e51943;
  --primary-font-color: white;
  --tertiary-color: yellow;
  --disabled-color: gray;
}

html {
  background-color: var(--main-bg-color);
  color: var(--primary-font-color);
}

body{
  width: 100%;
  overflow-x: hidden;
}

h5,
h4,
h3,
h2,
h1 {
  margin: 0px;
}

ul {
  padding-inline-start: 0px;
  margin-top: 0px;
}

a {
  color: var(--primary-font-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: .25s border-bottom;
}

a:hover {
  border-bottom: 1px solid var(--tertiary-color);
  cursor:pointer;  
}

.row-container {
  margin: auto;
  width: fit-content;
}

.episode-container {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  min-height: 50px;
}

.rounded {
  border-radius: 5px;
}

.episode {
  height: 220px;
  width: 220px;
  display: flex;
  flex-direction: column;
  position: relative;

  .inner {
    background-color: var(--primary-color);
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 0px black;
    padding: 10px;
    flex: 1;
    transition: .25s right;
    display: flex;
    flex-direction: column;

    .thumbnail-container {
      min-height: 0px;

      img {
        width: 100%;
        object-fit: contain;
        max-height: 100%;
      }

    }

  }

  .additional-info {
    background-color: var(--primary-color);
    height: calc(100% - 10px);
    position: absolute;
    right: 0%;
    width: 0;
    top: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.25s all;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
  }

  &.hover-info:hover {

    .inner {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      background-color: var(--accent-color);
    }

    .inner.open-left {
      right: calc(100% + 10px);
    }

    .additional-info {
      padding: 5px;
      width: calc(100%);
      right: calc(-100% - 10px);
      z-index: 2;
      background-color: var(--accent-color);
    }
  }
}

.tier {
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid var(--tertiary-color);
  height: 100px;
  margin: 0px 5%;

  .tier-name {
    min-width: 143px;
    font-size: 100px;
    position: relative;
    text-transform: capitalize;

    .letter {
      line-height: .95;
      text-align: center;
    }
  }

  .tier-title {
    font-size: 20px;
    text-align: left;
    margin: 0px;
    padding-bottom: 5px;
  }

}


.header {
  height: 60px;
  width: calc(100% - 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  max-width: 100%;
}

.shadow {
  box-shadow: 0 -2px 10px rgb(0 0 0);
}

.quick-tier-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.quick-tier {
  background-color: var(--main-bg-color);
  border-radius: 50px;
  padding: 5px;
  color: white;
  border: 0px;
  width: 25px;
  height: 25px;
  text-transform: capitalize;
  cursor: pointer;
}

.auth-login {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-color);
  padding: 9px;
}

.row-item {
  flex: 1;
}

.site-title {
  display: flex;
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
  .site-title {
    font-size: 1.35em;
  }
}