.landing-container {
    margin: 0px 10%;
    padding-top: 15px;
}

.landing-button-wrapper {
    gap: 10px;
    display: flex;
    margin: 10px 0px;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .landing-container {
        margin: 0px 10px;
    }

    .landing-button-wrapper {
        gap: 5px;
    }
}

.faq-blurb {

    &.first {
        margin-top: 15px;
    }

    padding: 10px 5px;
    border: 1px solid;
    border-color: transparent;
    border-radius: 5px;
    transition: .25s border-color;

    .highlight-text {
        transition: .25s color;
    }

    &:hover {
        border-color: var(--primary-color);
    
        .highlight-text {
            color: var(--accent-color);
        }
    }

    div {
        padding-top: 5px;
        padding-left: 10px;
    }

    li::marker {
        color: var(--accent-color);
    }
}

.cartman {
    height: 60px;
    position: absolute;
    right: -5%;
    cursor: pointer;
    transition: 1s right;
}


.flex-align-right {
    display: flex;
    justify-content: flex-end;
}

.tier-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}

.create-banner {
    padding: 20px;
    border-radius: 5px;
    width: fi;
    font-size: 1.1rem;
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--accent-color) 75%, var(--accent-color) 100%);
}