.landing-container {
    margin: 0px 10%;
    padding-top: 15px;
}

.faq-blurb {
    margin-top: 20px;
}

.cartman {
    height: 60px;
    position: absolute;
    right: -5%;
    cursor: pointer;
    transition: 1s right;
}

.landing-button-wrapper {
    gap: 10px;
    display: flex;
    margin: 10px 0px;
    justify-content: flex-end;
}