.loader {
    font-size: 25px;
    width: fit-content;
}

.loading-screen {
    width: fit-content;
    margin: auto;
    margin-top: 10%;

    .loader-spinner {
        margin: auto;
        width: fit-content;
    }

    .loading-text {
        font-size: 30px;
        text-align: center;
    }
}