.landing-table-container {
    border-collapse: collapse; 
    width: 100%;

    td{
        padding-top: 10px;
    padding-bottom: 10px;
    }

    tr:not(:last-child)  {
        td{
        border-bottom: 1px solid var(--primary-color);
        }
    }
}

.landing-table {
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
    width: 100%;
    border: 2px solid var(--accent-color);
    border-radius: 6px;
    padding: 10px;
}

.clean-table {
    
}