$bottom-border: 1px solid var(--primary-color);

.landing-table-container {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    thead {
        td {
            border-bottom: $bottom-border;
        }
    }

    td {
        padding: 10px;
        // padding-top: 10px;
        // padding-bottom: 10px;
    }

    tbody {
        tr {
            cursor: pointer;

            &:hover, &:focus-within {
                filter: brightness(100%);
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    
        tr:not(:last-child) {
            td {
                border-bottom: $bottom-border;
            }
        }
    }
}

.landing-table {
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
    width: 100%;
    border: 2px solid var(--accent-color);
    border-radius: 6px;
    padding: 10px;
    text-transform: capitalize;
}

.clean-table {}