.tier-list-wrapper {
    height: calc(100vh - 65px);
    position: relative;
    display: flex;
    flex-direction: column;
}

.tier-list {
    flex: 1;
}

.tier-navigation {
    display: flex;
    min-height: 45px;
    width: fit-content;
    margin: auto;
}

.tier-nav-tab {
    text-transform: uppercase;
    display: flex;
    align-items: center;

    .tier-nav-letter {
        font-size: 25px;
        cursor: pointer;
        transition: .25s color;
        &:hover, &.in-view {
            color: var(--accent-color);
            font-size: 30px;
        }
    }

    .tier-nav-spacer {
        font-size: 28px;
        margin-left: 10px;
        margin-right: 10px;
    }
}


.tier-topbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.character-list {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .character-list-item {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}




// TODO MOVE

.quote-line {
    margin: 0px 5%;
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
}

.quote-episode {
    display: flex;
    margin: 0px 5%;

    img {
        margin-right: 10px;
        border-radius: 5px;
    }

    .quote-text {
        background-color: var(--accent-color);
        border-radius: 5px;
        padding: 5px;
        flex: 1;
    }
}

.quote-button-container {
    display: flex;
    gap: 10px;
    margin: 0px 5%;    
    margin-bottom: 10px;
}

.character-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin: 0px 5%;
    padding: 25px 0px;
}

.next-quote {
    font-size: 20px;
    margin-bottom: 30px;
    width: 90%;
    box-sizing: border-box;
    margin-left: 5%;
}

.character-tile {
    flex: 1 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    padding: 5px;
    transition: .25s all;
    background-color: var(--main-bg-color);
    cursor: pointer;
    max-width: 200px;
    color: white;

    img {
        max-height: 100px;
        height: fit-content;
    }
    
    &:hover:not(:disabled) {
        z-index: 2;
        box-shadow: var(--accent-color) 0px 5px 15px;
        transform: scale(1.2);
    }

    &.correct {
        border-color: green;
        box-shadow: green 0px 5px 15px !important;
    }

    &:disabled {
        border-color: gray;
        filter: grayscale(1);
        transform: scale(.9);
        animation-name: wrong-guess;
        animation-duration: 1s;
        cursor: auto;
    }
}

@media only screen and (max-width: 500px) {
    .character-tile {
        img {
            max-height: 60px;
        }
    }

    .quote-episode {
        flex-direction: column;
        
        img {
            margin: auto;
        }
    }
}


@keyframes wrong-guess {
    0% {
        transform: scale(1.2) rotate(30deg);
    }

    50% {
        transform: scale(1) rotate(-30deg);
    }

    100% {
        transform: scale(.9);
    }
}

.streak {
    float: right;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.ri-fire-fill {
    color: var(--accent-color);
}