.tier-list-wrapper {
    height: calc(100vh - 60px);
    position: relative;
    display: flex;
    flex-direction: column;
}

.tier-list {
    flex: 1;
}

.tier-navigation {
    display: flex;
    min-height: 45px;
    width: fit-content;
    margin: auto;
}

.tier-nav-tab {
    text-transform: uppercase;
    display: flex;
    align-items: center;

    .tier-nav-letter {
        font-size: 25px;
        cursor: pointer;
        transition: .25s color;
        &:hover, &.in-view {
            color: var(--accent-color);
            font-size: 30px;
        }
    }

    .tier-nav-spacer {
        font-size: 28px;
        margin-left: 10px;
        margin-right: 10px;
    }
}


.tier-topbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.character-list {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .character-list-item {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
